@font-face {
    font-family: SourceHanSansSC-Bold;
    src: url("fonts/SourceHanSansSC-Bold.otf");
    }

@font-face {
    font-family: SourceHanSansSC-ExtraLight;
    src: url("fonts/SourceHanSansSC-ExtraLight.otf");
    }

@font-face {
    font-family: SourceHanSansSC-Heavy;
    src: url("fonts/SourceHanSansSC-Heavy.otf");
    }

@font-face {
    font-family: SourceHanSansSC-Light;
    src: url("fonts/SourceHanSansSC-Light.otf");
    }

@font-face {
    font-family: SourceHanSansSC-Medium;
    src: url("fonts/SourceHanSansSC-Medium.otf");
    }

@font-face {
    font-family: SourceHanSansSC-Normal;
    src: url("fonts/SourceHanSansSC-Normal.otf");
    }

@font-face {
    font-family: SourceHanSansSC-Regular;
    src: url("fonts/SourceHanSansSC-Regular.otf");
    }

@font-face {
    font-family: HyShangWeiShouShuW-regular;
    src: url("fonts/hyshangweishoushuw-regular.ttf");
    }
@font-face {
    font-family: HiraginoSans-W6;
    src: url("fonts/HiraginoSans-W6.otf");
}



