@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

@font-face {
    font-family: SourceHanSansSC-Bold;
    src: url("fonts/SourceHanSansSC-Bold.otf");
    }

@font-face {
    font-family: SourceHanSansSC-ExtraLight;
    src: url("fonts/SourceHanSansSC-ExtraLight.otf");
    }

@font-face {
    font-family: SourceHanSansSC-Heavy;
    src: url("fonts/SourceHanSansSC-Heavy.otf");
    }

@font-face {
    font-family: SourceHanSansSC-Light;
    src: url("fonts/SourceHanSansSC-Light.otf");
    }

@font-face {
    font-family: SourceHanSansSC-Medium;
    src: url("fonts/SourceHanSansSC-Medium.otf");
    }

@font-face {
    font-family: SourceHanSansSC-Normal;
    src: url("fonts/SourceHanSansSC-Normal.otf");
    }

@font-face {
    font-family: SourceHanSansSC-Regular;
    src: url("fonts/SourceHanSansSC-Regular.otf");
    }

@font-face {
    font-family: HyShangWeiShouShuW-regular;
    src: url("fonts/hyshangweishoushuw-regular.ttf");
    }
@font-face {
    font-family: HiraginoSans-W6;
    src: url("fonts/HiraginoSans-W6.otf");
}
@font-face {
    font-family: PingFangSC-Regular;
    src: url("fonts/PingFangSC/PingFang-SC-Regular.ttf");
}@font-face {
    font-family: PingFangSC-Semibold;
    src: url("fonts/PingFangSC/PingFang-SC-Semibold.ttf");
}

